.profile {
	background-color: bisque;
	min-height: 500px;
}

.profile__BGIMG {
	width: 100%;
	height: 300px;
	image-rendering: pixelated;
	overflow: hidden;
	object-fit: cover;
}

.profile__container {
	padding: 5px 15px;
}