* {
	font-family: "montserrat";
}

:root {
	--border-color: rgb(59, 118, 138);
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

.app {
	display: grid;
}

.app__wrapper {
	width: 90vw;
	display: grid;
	grid-template-rows: 100px 1fr 30px;
	gap: 10px;
	grid-template-columns: repeat(12, 1fr);
	justify-self: center;
}